*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#f7f4ef;

    font-family:"Yu Gothic";

    color:#333;

}

.section{

    width:1200px;

    margin:100px auto;

}

.section h2{

    text-align:center;

    font-size:40px;

    margin-bottom:50px;

}

.plan-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;

}

.plan-card{

    background:white;

    padding:35px;

    border-radius:15px;

    text-align:center;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.plan-card h3{

    margin-bottom:15px;

    color:#b38b59;

}



.gallery{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:25px;

}

.gallery img{

    width:100%;

    height:400px;

    object-fit:cover;

    border-radius:15px;

}



.spot-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}

.spot-card{

    background:white;

    border-radius:18px;

    overflow:hidden;

    box-shadow:0 8px 20px rgba(0,0,0,.12);

    transition:.3s;

}

.spot-card:hover{

    transform:translateY(-10px);

}

.spot-card img{

    width:100%;

    height:280px;

    object-fit:cover;

}

.spot-body{

    padding:25px;

}

.spot-body h3{

    margin-bottom:10px;

    color:#b38b59;

}

.time-tabs{

    display:flex;

    justify-content:center;

    gap:20px;

    margin-bottom:40px;

}

.time-tab{

    padding:14px 45px;

    border:1px solid #b38b59;

    background:white;

    color:#b38b59;

    border-radius:30px;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

.time-tab:hover{

    background:#f1e6d5;

}

.time-tab.active{

    background:#b38b59;

    color:white;

}

/* カード内の昼夜タブ */

.card-tabs{

    display:flex;

    gap:10px;

    margin-top:20px;

}


.card-tab{

    flex:1;

    padding:10px;

    border:1px solid #b38b59;

    background:white;

    color:#b38b59;

    border-radius:20px;

    cursor:pointer;

    transition:.3s;

}


.card-tab:hover{

    background:#f1e6d5;

}


.card-tab.active{

    background:#b38b59;

    color:white;

}